.wrapper {
  font-family:'Source Sans Pro', sans-serif;
}


.header-blue{
  background:linear-gradient(135deg, #172a74, #21a9af);
  background-color:#184e8e;
  padding-bottom:120px;
}

@media (max-width:767px) {
  .header-blue{
    padding-bottom:80px;
  }
}

.header-blue .navbar{
  background:transparent;
  padding-top:12px;
  padding-bottom:10px;
  color:#fff;
  border-radius:0;
  box-shadow:none;
  border:none;
}

@media (max-width:767px) {
  .header-blue .navbar{
    padding-top:0;
    padding-bottom:0;
  }
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-header{
    padding-top:10px;
    padding-bottom:10px;
  }
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-right{
    margin-bottom:20px;
  }
}

.header-blue .navbar .navbar-brand{
  font-weight:bold;
  color:inherit;
}

.header-blue .navbar .navbar-brand:hover{
  color:#f0f0f0;
}

.header-blue .navbar .navbar-brand img{
  height:100%;
  display:inline-block;
  margin-right:10px;
  width:auto;
}

.header-blue .navbar .navbar-collapse p{
  margin-top:10px;
  margin-bottom:0;
}

.header-blue .navbar .navbar-collapse p .login{
  color:#d9d9d9;
  margin-right:10px;
  text-decoration:none;
}

.header-blue .navbar .navbar-collapse p .login:hover{
  color:#fff;
}

.header-blue .navbar .navbar-toggle{
  border-color:rgba(255,255,255,0.3);
}

.header-blue .navbar .navbar-toggle:hover, .header-blue .navbar-toggle:focus{
  background:none;
}

.header-blue .navbar .navbar-toggle .icon-bar{
  background-color:#eee;
}

.header-blue .navbar .navbar-collapse, .header-blue .navbar .navbar-form{
  border-color:rgba(255,255,255,0.3);
}

.header-blue .navbar .navbar-nav > .active > a, .header-blue .navbar .navbar-nav > .open > a{
  background:none;
  box-shadow:none;
}

.header-blue .navbar.navbar-default .navbar-nav > .active > a, .header-blue .navbar.navbar-default .navbar-nav > .active > a:focus, .header-blue .navbar.navbar-default .navbar-nav > .active > a:hover{
  color:rgba(255,255,255,0.3);
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.header-blue .navbar.navbar .navbar-nav > li > a{
  padding-left:18px;
  padding-right:18px;
}

.header-blue .navbar.navbar-default .navbar-nav > li > a{
  color:#d9d9d9;
}

.header-blue .navbar.navbar-default .navbar-nav > li > a:focus, .header-blue .navbar.navbar-default .navbar-nav > li > a:hover{
  color:#fcfeff !important;
  background-color:transparent;
}

.header-blue .navbar .navbar-nav > li > .dropdown-menu{
  margin-top:-5px;
  box-shadow:0 4px 8px rgba(0,0,0,.1);
  background-color:#fff;
  border-radius:2px;
}

.header-blue .navbar .dropdown-menu > li > a:focus, .header-blue .navbar .dropdown-menu > li > a{
  line-height:2;
  font-size:14px;
  color:#37434d;
}

.header-blue .navbar .dropdown-menu > li > a:focus, .header-blue .navbar .dropdown-menu > li > a:hover{
  background:#ebeff1;
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-nav .open .dropdown-menu{
    box-shadow:none;
    background:none;
    color:#fff;
  }
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-nav .open .dropdown-menu > li > a{
    color:#fdfeff;
    padding-top:12px;
    padding-bottom:12px;
    line-height:1;
  }
}

.header-blue .action-button, .header-blue .action-button:active{
  border:1px solid rgba(255,255,255,0.7);
  border-radius:20px;
  color:#ebeff1;
  box-shadow:none;
  text-shadow:none;
  padding:6px 15px;
  background:transparent;
  transition:background-color 0.25s;
  outline:none;
}

.header-blue .action-button:hover{
  color:#fff;
}

.header-blue .action-button.btn-lg{
  padding:7px 18px;
}

.header-blue .navbar .navbar-form label{
  color:#ccc;
}

.header-blue .navbar .navbar-form .search-field{
  background:none;
  border:none;
  border-bottom:1px solid transparent;
  border-radius:0;
  color:#ccc;
  box-shadow:none;
  color:inherit;
  transition:border-bottom-color 0.3s;
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-form .search-field{
    display:inline-block;
    width:80%;
  }
}

.header-blue .navbar .navbar-form .search-field:focus{
  border-bottom:1px solid #ccc;
}

.header-blue .hero{
  margin-top:60px;
}

@media (max-width:767px) {
  .header-blue .hero{
    margin-top:20px;
    text-align:center;
  }
}

.header-blue .hero h1{
  color:#fff;
  font-size:40px;
  margin-top:190px;
  margin-bottom:24px;
  font-weight:300;
}

@media (max-width:991px) {
  .header-blue .hero h1{
    margin-top:0;
    margin-bottom:15px;
    line-height:1.4;
  }
}

.header-blue .hero p{
  color:rgba(255,255,255,0.8);
  font-size:20px;
  margin-bottom:30px;
  font-weight:300;
}

.header-blue .phone-holder{
  text-align:right;
}

.header-blue div.iphone-mockup{
  position:relative;
  max-width:300px;
  margin:20px;
  display:inline-block;
}

.header-blue .iphone-mockup img.device{
  width:100%;
  height:auto;
}

.header-blue .iphone-mockup .screen{
  position:absolute;
  width:88%;
  height:77%;
  top:12%;
  border-radius:2px;
  left:6%;
  border:1px solid #444;
  background-color:#aaa;
  overflow:hidden;
  background:url(../../assets/img/puppy.png);
  background-size:cover;
  background-position:center;
}

.header-blue .iphone-mockup .screen:before{
  content:'';
  background-color:#fff;
  position:absolute;
  width:70%;
  height:140%;
  top:-12%;
  right:-60%;
  transform:rotate(-19deg);
  opacity:0.2;
}

.navbar .navbar-brand {
    color: black;
}

.wrap {
  padding: 50px 100px;
}

.animalItem {
  border: 1px solid #000;
    max-height: 100%;
    max-width: 100%;
  margin: 25px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
    padding: 20px;
    border-radius: 4px;

}

.animalItem h4 {
    color: #21a9af;
    font-size: 15px;
}

.space-img {
  max-width: 100px;
  max-height: 100px;
}

.searchImg {
  width: 100px;
}

.search {
  margin-top: 100px;
  margin-bottom: 100px;
}

.search-heading {
  margin-bottom: 30px;
  font-size: 20px;

}

.navbar {
  background:#21a9af;
  padding-top:12px;
  padding-bottom:10px;
  color:#fff;
  border-radius:0;
  box-shadow:none;
  border:none;
}

.navbar .navbar-collapse p .login{
  color:#d9d9d9;
  margin-right:10px;
  text-decoration:none;
}

.navbar.navbar .navbar-nav > li > a{
  padding-left:18px;
  padding-right:18px;
}

.navbar.navbar-default .navbar-nav > li > a{
  color:#d9d9d9;
}

.action-button:hover{
  color:#fff;
}

.action-button.btn-lg{
  padding:7px 18px;
}

.action-button, .header-blue .action-button:active{
  border:1px solid rgba(255,255,255,0.7);
  border-radius:20px;
  color:#ebeff1;
  box-shadow:none;
  text-shadow:none;
  padding:6px 15px;
  background:transparent;
  transition:background-color 0.25s;
  outline:none;
}

.form-design {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.navbar .modal-design {
  color: black;
}

.modal-header .modal-title {
  color: black;
  font-size: 20px;
  text-align: center;
}

.location-heading {
  margin-bottom: 40px;
}

.space-note {
  margin-top: 10px;
  font-style: italic;
}

.search .search-link {
  text-decoration: none;
  color: #000000;
}

.img-search-sm {
  max-width: 25px;
  margin-right: 15px;
  float: left;
}

.search-desc {
  max-width: 700px;
  font-size: 16px;
}

.location-search-form {
  clear: left;
  margin-bottom: 50px;
}

.space-avail {
  padding: 15px;
  margin: 20px;
  background-color: white;
  border-radius: 5px;
    border: 2px solid #dddddd;
    min-height: 200px;
}


.space-search-img {
  overflow: hidden;
    clear: both;
    max-height: 100%;
    max-width: 100%;
  margin: 10px 30px 10px 10px;
  border-radius: 5px;
}

.object-fit {
    max-width: 200px;
    max-height: 150px;
  object-fit: cover;
}

.panel-prim {
  border: 1px solid #dddddd;
}

.title-panel {
  font-size: 25px;
    font-weight: bold;
}

.city-state {
  font-style: italic;
    font-weight: normal;
  font-size: 18px;
}

.booking-btn {
  background-color: #21a9af;
  color: white;
}

.space-info {
    font-weight: bold;
    margin-bottom: 2px;

}

.host-info {
    margin-top: 5px;
    font-size: 16px;
}

.message-btn {
    margin-top: 10px;
}

.animal-search-icon {
    max-height: 25%;
    max-width: 25%;
}

.animal-search-container {
    padding: 20px 200px;
    margin: 0 auto;

}

.space-options {
    margin-top: 50px;
}


.shelter-search-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0px 40px;
    margin: 100px 200px;
}


.shelter-search-icon {
    width: 150px;

}

.shelter-search-term {
    color: #504F51;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}


.shelter-search-link:hover {
    text-decoration: none;
}

.shelter-icon {
    max-width: 150px;
}

.thread {
    border: 1px solid #21a9af;
    padding: 15px;
    border-radius: 4px;
    background-color: #ffffff;
    margin: 5px 150px;
}

.thread-link {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.message-heading {
    margin: 20px 0px;
}

.loggedin {
    background-color: #184e8e;
    max-width: 350px;
    margin-left: 100px;
    /*margin-left: 325px;*/
    margin-bottom: 10px;
    color: white;
    text-align: right;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
}

.notloggedin {
    background-color: #bbb;
    max-width: 350px;
    margin-bottom: 10px;
    color: white;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;

}

.message-detail-heading {
    margin: 20px 20px 20px 0px;
}

.messages {
    max-width: 800px;
    margin: 0 auto;
}

.reply-form {
    margin-top: 50px;
}

.booking-req {
    border: 1px solid black;
    margin: 20px;
    border-radius: 3px;

}

.request-options {
    display: flex;
    align-content: space-between;
}

.space-img-req {
    max-width: 125px;
    margin: 5px;
}

.space-info-req {
    padding: 0px 20px 10px 20px;
}
