<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: head">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/template :: nav"></div>

        <div class="shelter-search-options">

            <a class="shelter-search-link" href="/search/Farm"><div class="shelter-search-icon">
                <img class="shelter-icon" src="/assets/img/farmimg.png" alt="alternate"/>
                <h2 class="shelter-search-term">Farms</h2>
            </div></a>
            <a class="shelter-search-link" href="/search/Home"><div class="shelter-search-icon">
                <img class="shelter-icon" src="/assets/img/shelter.png" alt="alternate"/>
                <h2 class="shelter-search-term">Homes</h2>
            </div></a>
            <a class="shelter-search-link" href="/search/Shelter"><div class="shelter-search-icon">
                <img class="shelter-icon" src="assets/img/pet.png" alt="alternate"/>
                <h2 class="shelter-search-term">Animal Shelters</h2>
            </div></a>
        </div>




</div>

<span th:replace="fragments/template :: js"></span>
</body>
</html>