<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: head">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/template :: nav"></div>
    <div class="container">
        <div>
            <img class="img-search-sm" th:if="${type.equals('Farm')}" src="/assets/img/farmimg.png" alt=""/>
            <img class="img-search-sm" th:if="${type.equals('Home')}" src="/assets/img/shelter.png" alt=""/>
            <img class="img-search-sm" th:if="${type.equals('Shelter')}" src="/assets/img/pet.png" alt=""/>
            <span class="h3" th:text="${type}"></span><span class="h3">s</span>
            <p class="search-desc">Find a safe space for your pets or animals while you seek safety for you and your family. Browse farms, shelters, and homes around the country where people have offered to care for your pets, for free.</p>
        </div>
        <div class="col-lg-12 location-search-form">
            <form action="/shelterStateResults" class="form-format container  col-lg-6" method="get">
                <h3>Filter by State</h3>
                <h4>Enter a state to filter your results.</h4>
                <input type="hidden" name="shelterType" th:value="${type}"/>

                <div class="form-group">
                    <label for="state">State</label>
                    <select class="form-control" type="text" name="state" >
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                </div>
                <input type="submit" class="btn btn-secondary" value="Filter by State" />
            </form>
        </div>

        <div class="container">
            <div class="panel panel-prim col-lg-10" th:each="location : ${locations}">
                <div th:if="${location.getActiveSpaces().size() > 0}">
                    <div class="panel-body">

                        <div class="panel-title title-panel h4">
                            <img class="img-search-sm" th:if="${location.getType().equals('Farm')}" src="/assets/img/farm.png" alt=""/>
                            <img class="img-search-sm" th:if="${location.getType().equals('Home')}" src="/assets/img/shelter.png" alt=""/>
                            <img class="img-search-sm" th:if="${location.getType().equals('Shelter')}" src="/assets/img/animalshelter.png" alt=""/>

                            <span th:text="${location.city}"></span><span class="city-state">, </span><span th:text="${location.state}"> </span></div>
                        <div></div>
                        <div class="host-info"><span>Host: </span><span th:text="${location.user.firstName}"></span></div>
                        <a th:href="@{'/messageHost/' + ${location.user.id}}" class="btn btn-default btn-sm message-btn">Message Host</a>

                        <div class="space-div" th:each="space : ${location.spaces}">
                            <div th:if="${space.active}">
                                <div class="space-avail col-lg-11">
                                    <div class="">
                                        <div class="space-search-img pull-left" >
                                            <img th:src="@{'/files/' + ${space.imagePath}}" class="object-fit" alt=""/>
                                        </div>
                                        <a th:href="@{'/requestSpace/' + ${space.id}}" class="btn booking-btn pull-right">Create Booking Request</a>

                                        <h4 class="space-info">Availability </h4>
                                        <span th:text="${space.animalNumber}"></span>
                                        <span> </span>
                                        <span th:text="${space.animalType}"></span>
                                        <br/>
                                        <h4 class="space-info">Notes from Host</h4>
                                        <span th:text="${space.notes}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <div th:replace="fragments/template :: footer"></div>


</div>

<span th:replace="fragments/template :: js"></span>
</body>
</html>