<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/template :: head">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/template :: nav"></div>
    <div class="container">
        <div class="message-heading">
            <img class="img-search-sm" src="/assets/img/message.png" alt=""/>
            <span class="h3">Your Message Threads</span>
            <p class="search-desc">Communication between you and those looking for a safe space for their pets.</p>
        </div>
        <div class="thread" th:each="thread : ${threads}">
            <a class="thread-link" th:href="@{'/thread/' + ${thread.id}}">
                <span sec:authorize="hasRole('ROLE_HOST')" th:text="${thread.guest.firstName}"></span>
                <span sec:authorize="hasRole('ROLE_GENERAL')" th:text="${thread.host.firstName}"></span>

            <div>
                <span>Unread messages: </span>
                <span th:text="${thread.getUnreadMessages(#authentication.getPrincipal())}"></span>
            </div>
            </a>
        </div>
    </div>
    </div>


<span th:replace="fragments/template :: js"></span>
</body>
</html>