<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments/template :: head">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/template :: nav"></div>

<form th:action="@{'/addMessage/' + ${host.id}}" method="post" th:object="${message}">
    <textarea type="text" th:field="*{note}" placeholder="Enter message for host"></textarea>
    <input type="submit" value="Send Message"/>
</form>


<span th:replace="fragments/template :: js"></span>
</body>
</html>