<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: head">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/template :: nav"></div>
    <div th:each="message : ${messages}">
        <div th:text="${message.note}"></div>
        <div th:text="${message.authorUsername}"></div>
    </div>

    <form th:action="@{'/replyMessage/' + ${thread.id}}" method="post" th:object="${message}">
        <textarea type="text" th:field="*{note}"></textarea>
        <input type="submit" value="Add Message" />
    </form>
</div>


<span th:replace="fragments/template :: js"></span>
</body>
</html>