<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments/template :: head">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/template :: nav"></div>
    <form class="form-format container form-design col-lg-6" th:action="@{'/addMessage/' + ${host.id}}" method="post" th:object="${message}">
        <div class="form-group">
            <span class="h3">Send </span><span class="h3" th:text="${host.firstName}"></span><span class="h3"> a message</span>
        </div>
        <div class="form-group">
            <textarea type="text" class="form-control" th:field="*{note}" placeholder="Enter message for host"></textarea>
        </div>
        <input type="submit" class="btn btn default" value="Send Message"/>
    </form>
    <div th:replace="fragments/template :: footer"></div>

</div>


<span th:replace="fragments/template :: js"></span>
</body>
</html>