<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/template :: head">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/template :: nav"></div>

    <div class="container">
        <h3>Your Pending Requests</h3>
        <div class="request-listing">
            <div class="guest-request" th:each="pendingReq : ${pendingReqs}">
                <h4>Host Information</h4>
                <div>
                    <span>Name: </span><span th:text="${pendingReq.host.firstName}"></span>

                </div>
                <div>
                    <span>Location: </span>
                    <span th:text="${pendingReq.space.hostLocation.city}"></span>
                    <span>, </span>
                    <span th:text="${pendingReq.space.hostLocation.state}"></span>
                </div>
                <div>
                    <span>Availability: </span>
                    <span th:text="${pendingReq.space.animalNumber}"></span>
                    <span> </span>
                    <span th:text="${pendingReq.space.animalType}"></span>
                </div>

                <div>
                    <h4>Your Request</h4>
                    <span th:text="${pendingReq.numAnimals}"></span>
                    <span> </span>
                    <span th:text="${pendingReq.space.animalType}"></span>
                </div>

                <form th:action="@{'/cancelRequest/' + ${pendingReq.id}}" method="post">
                    <input type="submit" value="Cancel Request"/>
                </form>

            </div>
        </div>
        <hr/>
        <br/>
        <h3>Your Accepted Requests</h3>
        <div class="request-listing">
            <div class="guest-request" th:each="acceptedReq : ${acceptedReqs}">
                <h4>Host Information</h4>
                <div>
                    <span>Name: </span><span th:text="${acceptedReq.host.firstName}"></span>

                </div>
                <div>
                    <span>Location: </span>
                    <span th:text="${acceptedReq.space.hostLocation.city}"></span>
                    <span>, </span>
                    <span th:text="${acceptedReq.space.hostLocation.state}"></span>
                </div>
                <div>
                    <span>Availability: </span>
                    <span th:text="${acceptedReq.space.animalNumber}"></span>
                    <span> </span>
                    <span th:text="${acceptedReq.space.animalType}"></span>
                </div>
                <div>
                    <h4>Your Request</h4>
                    <span th:text="${acceptedReq.numAnimals}"></span>
                    <span> </span>
                    <span th:text="${acceptedReq.space.animalType}"></span>
                </div>
                <h4>Need to cancel? </h4>
                <form th:action="@{'/cancelReservation/' + ${acceptedReq.id}}" method="post">
                    <div class="form-group">
                        <label for="message">Cancellation Message for Host</label>
                        <textarea class="form-control" type="text" name="message"></textarea>
                    </div>
                    <input type="submit" class="btn btn-default" value="Cancel Reservation"/>
                </form>
            </div>
        </div>
        <hr/>
        <br/>

        <h3>Your Denied/Cancelled Requests</h3>
        <div class="request-listing">
            <div class="guest-request" th:each="deniedReq : ${deniedReqs}">
                <h4>Host Information</h4>
                <div>
                    <span>Name: </span><span th:text="${deniedReq.host.firstName}"></span>

                </div>
                <div>
                    <span>Location: </span>
                    <span th:text="${deniedReq.space.hostLocation.city}"></span>
                    <span>, </span>
                    <span th:text="${deniedReq.space.hostLocation.state}"></span>
                </div>
                <div>
                    <span>Availability: </span>
                    <span th:text="${deniedReq.space.animalNumber}"></span>
                    <span> </span>
                    <span th:text="${deniedReq.space.animalType}"></span>
                </div>
                <div>
                    <h4>Your Request</h4>
                    <span th:text="${deniedReq.numAnimals}"></span>
                    <span> </span>
                    <span th:text="${deniedReq.space.animalType}"></span>
                </div>
            </div>
        </div>

    </div>
    <div th:replace="fragments/template :: footer"></div>

</div>

<span th:replace="fragments/template :: js"></span>
</body>
</html>