<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: head">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/template :: nav"></div>

<h1>Let's get started listing your space</h1>
<p>Animals are a man's best friend.</p>
<p>Thank you for doing your part to protect someone else's bff during a time of crisis</p>
<form action="/addLocation" method="post" th:object="${location}">
    <p>What kind of place do you have for animals?</p>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <select name="location-select" th:field="*{type}">
        <option value="Farm">I have space on my farm.</option>
        <option value="Home">I have space in my home.</option>
        <option value="Shelter">I work for or run an animal shelter</option>
    </select>
    <div class="form-group">
        <label for="streetAddress">Street Address</label>
        <input class="form-control" type="text" th:field="*{streetAddress}" />
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input class="form-control" type="text" th:field="*{city}" />
    </div>
    <div class="form-group">
        <label for="state">State</label>
        <input class="form-control" type="text" th:field="*{state}" />
    </div>
    <div class="form-group">
        <label for="zipCode">Zip Code</label>
        <input class="form-control" type="text" th:field="*{zipCode}" />
    </div>
    <button type="submit">Next</button>
</form>
</body>
</html>