<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: head">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/template :: nav"></div>

<h2>Filter by State</h2>
<form action="/stateResults">
    <input type="text" name="search" />
    <input type="hidden" name="animalType" th:value="${animalType}"/>
    <select class="form-control" type="text" name="search">
        <option value="SC">SC</option>
        <option value="CT">CT</option>
        <option value="FL">FL</option>
    </select>
    <input type="submit" value="Filter by State" />
</form>
<div class="card" th:each="space : ${spaces}">
    <div class="card-block">
        <div class="card-title"> <span th:text="${space.animalNumber}"></span><span> </span><span th:text="${space.animalType}"></span></div>
        <span th:text="${space.hostLocation.type}"></span>
        <div class="card-subtitle mb-2 text-muted"><span th:text="${space.hostLocation.city}"></span><span>, </span><span th:text="${space.hostLocation.state}"></span></div>
        <p class="card-text" th:text="${space.notes}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Send host a Message</a>
    </div>
</div>

<span th:replace="fragments/template :: js"></span>
</body>
</html>