<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: head">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/template :: nav"></div>

<div class="container">
    <h1>LOCATION</h1>
    <span th:text="${location.streetAddress}"></span>
    <br/>
    <span th:text="${location.city}"></span>
    <span>, </span>
    <span th:text="${location.state}"></span>
    <form th:action="@{'/location/' + ${location.id} + '/edit'}" method="get">
        <input type="submit" value="Edit" />
    </form>
</div>


<div class="container">
    <h1>SPACES</h1>
    <div th:each="space : ${location.spaces}">
        <span th:text="${space.animalNumber}"></span>
        <span> </span>
        <span th:text="${space.animalType}"></span>
        <br/>
        <span th:text="${space.notes}"></span>
        <form th:action="@{'/space/' + ${space.id} + '/edit'}" method="get">
            <input type="submit" value="Edit" />
        </form>
    </div>
</div>

<form action="/addSpace">
    <input type="submit" class="btn" value="Add Additional Space" />
</form>


<span th:replace="fragments/template :: js"></span>
</body>
</html>